.container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

form {
  height: 100vh;
  gap: 10px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form h2 {
  color: rgb(158, 28, 28);
  margin-bottom: 10px;
  font-size: clamp(55px, calc(7.5vw - 40px), 85px);
  letter-spacing: -3px;
  font-weight: 800;
  transform: translateY(15px);
}

form label {
  font-weight: 600;
  font-size: 18px;
  color: #444;
  /* margin-top: 2.5px; */
}

form input {
  width: 220px;
  height: 35px;
  margin-top: 5px;
  cursor: pointer;
}

form input:focus {
  outline: none;
}

form input:focus {
  border: 2px solid #6da49c;
}

form button,
.facebookBtn {
  color: #fff;
  font-weight: 600;
  background-color: #9e1c1c;
  margin-top: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;

  width: 220px;
  height: 35px;
}

.paragraph {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -1px;
  color: #444;
  display: inline;
}

form a {
  text-decoration: none;
  margin-top: -10px;
  color: #444;
  font-size: 16px;
  margin-left: 8px;
  color: rgb(158, 28, 28);
}

.logo {
  filter: invert(25%) sepia(36%) saturate(38%) hue-rotate(100deg) brightness(36%)
    contrast(103%);
  height: 150px;
}

form input:autofill {
  background: #fff;
}
.facebookBtn {
  background-color: #0a95ff;
  text-decoration: none;
  display: block;
  color: #fff;
  /* text-align: center; */
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.facebookBtn > a {
  color: white;
  display: block;
  margin: auto 0;
}

.icon {
  font-size: 20px;
  color: rgb(158, 28, 28);
}

.iconGoogle {
  background-color: #fff;
  height: 90%;
  font-size: 20px;
  width: 15%;
  margin-left: 2px;
}

.error {
  font-size: 18px;
  font-weight: 600;
  color: #d8000c;
}

.succes {
  font-size: 16px;
  font-weight: 600;
  color: #6ad163;
}
