.chatContainer {
  height: calc(100vh - 140px);

  display: flex;

  width: 100%;
}

.sidebar {
  height: 100%;
  width: 180px;
  scrollbar-width: none;
  order: 1;
  overflow-y: scroll;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar > div {
  display: flex;
  flex-direction: column;

  cursor: pointer;
  align-items: center;
  position: relative;
  padding: 10px 15px;

  gap: 5px;
}

.sidebar > div > span {
  width: 15px;
  height: 15px;
  background-color: hsl(120, 80%, 37%);
  border-radius: 50%;
  position: absolute;
  top: 54%;
  left: 25%;
}

.sidebar div > h2 {
  font-weight: 500;
  font-size: clamp(10px, 2.5vw, 18px);
  text-transform: capitalize;
}

.sidebar > div > img {
  border-radius: 50%;
  width: clamp(45px, 10vw, 55px);
  height: clamp(45px, 10vw, 55px);
  object-fit: cover;
}

.chat {
  overflow-y: scroll;
  width: calc(100% - 180px);
  height: 100%;
  border-left: 1px solid;
  scrollbar-width: none;
}

.flexContainer {
  display: flex;
  text-align: center;
  height: calc(100vh - 140px);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flexContainer > p {
  font-size: clamp(16px, 7.5vw, 20px);
  padding: 0 15px;
}

.userInfo {
  text-align: center;
  position: relative;
  top: 0;
  z-index: 100;
  width: 100%;
  color: #444;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
  height: 29px;
}

.chatMessages {
  height: 85%;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px clamp(10px, 10%, 100px);
}

.chatMessages > h1 {
  font-weight: 500;
  font-size: clamp(10px, 5vw, 20px);
  background-color: #f0f2f5;
  cursor: pointer;

  border-radius: 10px;
  padding: 5px 24px;
  align-self: flex-end;
  max-inline-size: 350px;
  overflow-wrap: break-word;
}

.chatMessages > h2 {
  font-weight: 400;
  font-size: 11px;
  align-self: flex-end;
}

.chatMessages > .mine {
  align-self: flex-start;
}

.activeUser {
  background-color: #803939;
  color: #fff;
}

.chatMessages > .me {
  background-color: #994343;
  color: #fff;
  align-self: flex-start;
}

.loadingContainer {
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendIcon {
  color: #803939;
  font-size: 25px;
}

.chatMessages > h1:not(.chatMessages > h1:nth-of-type(1)) {
  margin-top: 7.5px;
}

.chatForm {
  height: 15%;
  min-height: 80px;
  display: flex;
}

.formInput {
  outline: none;
  height: 100%;

  resize: none;
  width: 90%;
  border-left: none;
}

.chatForm > button {
  cursor: pointer;

  height: 100%;
  outline: none;
  border: none;
  border-top: 1px solid black;
  font-weight: 700;
  width: 10%;
  min-width: 80px;
  color: #444;
}

@media (max-width: 668px) {
  .chatContainer {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 100px;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 30px;
    scrollbar-width: none;
    order: 0;
    border-bottom: 1px solid;
  }

  .chatForm > button {
    width: 20%;
  }

  .chatForm > input {
    width: 80%;
  }

  .chatMessages {
    width: 100%;
  }

  .chat {
    width: 100%;
    height: calc(100% - 100px);
  }
}
