.container {
  padding: clamp(10px, 10vw, 30px) clamp(10px, 10vw, 150px);
  display: flex;
  justify-content: flex-start;

  scrollbar-width: none;
  flex-wrap: wrap;
  gap: 15px;
}

.friendBox {
  display: flex;

  padding: 10px;
  gap: 25px;
  align-items: center;
  background-color: #fcfcfc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;

  height: 100px;
  text-align: center;
}

.info {
  font-size: clamp(16px, 7vw, 18px);
}

.friendBox div > h3 {
  font-weight: 400;
  text-transform: capitalize;
}

.friendBox img {
  object-fit: cover;
  border-radius: 50%;
  width: clamp(80px, 10vw, 90px);

  height: clamp(80px, 10vw, 90px);
  order: -1;
}

.friendBox > div > a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
  display: block;
  background-color: #803939;
  color: #fff;
  padding: 2.5px 10px;
  margin-top: 5px;
}
