.profileImage {
  width: clamp(50px, 7.5vw, 75px);
  height: clamp(50px, 7.5vw, 75px);
  border-radius: 50%;
  object-fit: contain;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  height: 80px;
  background-color: rgb(128, 57, 57);
  padding: 5px clamp(10px, 10vw, 30px);
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.profileInfo {
  display: flex;
  align-items: center;
}

nav {
  margin-right: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 500;
}

nav button {
  background-color: #fff;
  font-weight: 600;

  padding: clamp(5px, 10vw, 10px) clamp(8px, 10vw, 12px);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid #fff;
}

.profileInfo__title {
  color: #fff;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 600;
  margin-left: 5px;
}

.profileImage {
  color: #fff;
  font-size: 10px;
}

.iconMenu {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

@media (max-width: 568px) {
  .header > nav {
    background-color: #803939;
    position: absolute;
    top: 80px;
    padding: 15px;
    text-align: center;
    gap: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
  }

  .header > nav > a {
    display: block;
  }

  .active {
    border: none;
  }

  .header > nav > button {
    background-color: transparent;
    color: #fff;
    margin-top: -10px;
  }

  .iconMenu {
    display: block;
  }

  .isActive {
    display: block;
    animation: fade 0.3s;
    animation-delay: 0.0001s;
    animation-fill-mode: both;
  }

  .notActive {
    display: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
