.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: clamp(14px, 12vw, 35px);
}
